.root {
  @apply sticky top-0 z-40 transition-all duration-150 h-16 md:h-20;
}

.link {
  color: #000; /* Change text color to black */
  font-weight: bold; /* Make the font bold */
  text-shadow: none; /* Remove text shadow */
}

.link:hover {
  color: #000; /* Keep the hover effect black as well */
}

.link:focus {
  @apply outline-none text-black;
}

.logo {
  @apply cursor-pointer rounded-full transform duration-100 ease-in-out;
}
